/incoming
/w/Projects/Vishare/axi_switch/incoming
*.mpf
*.log
/sim/work
/rtl/old
/sim/covhtmlreport
/sim/msim
/sim/unimacro_ver
/sim/xpm
*.wlf
/sim/unisims_ver
/sim/secureip
/sim/fifo_generator_v13_2_7
/sim/blk_mem_gen_v8_4_5
*.wpc
*.dcp
*.veo
*.vho
*.xml
*.xdc
*.vhdl
*.txt
/syn/axi_switch_0_ref_ex/axi_switch_0_ref_ex.gen/sources_1/ip/axi_switch_0_ref/hdl
*.lpr
/syn/axi_switch_0_ref_ex/axi_switch_0_ref_ex.ip_user_files/ipstatic
/syn/axi_switch_0_ref_ex/axi_switch_0_ref_ex.ip_user_files/sim_scripts
*.xci
*.xpr
*.jou
/syn/axi_switch_ref/axi_switch_ref.cache
/syn/axi_switch_ref/axi_switch_ref.gen/sources_1/ip/axi_switch_0_ref/hdl
/syn/axi_switch_ref/axi_switch_ref.ip_user_files/ipstatic
/syn/axi_switch_ref/axi_switch_ref.ip_user_files
/syn/axi_switch_ref/axi_switch_ref.runs
*.mti
